
*{
    margin:0;
    padding:0;
    font-family:'poppins', sans-serif;
    box-sizing:border-box;
}
.menu{
    padding: 4px;
    margin:1rem;
}

.dot{
    margin-bottom: 4px;
    background-color: #424242;
    width:10px;
    height:10px;
    border-radius: 50%;
}
.dot :hover{
    color:rgba(68, 240, 76, 0.4);
    cursor: pointer;
}

body{
    background: #080808;
    color:#fff;
}
header{
    width:100%;
    height:100vh;
    display: flex;
    /* border:1px solid red; */
}

img{
    justify-content: center;
    width:300px;
    height:300px;
    border-radius: 50%;
    border:20px solid  #ff004f;
    margin-left: auto;
    margin-right:100px;
    margin-top: 50px;
}

.heading{
    margin-top:14%;
    font-size:50px;
    font-weight: 900;
    /* border:1px solid red; */
}
.sub-heading{
    margin-top:20px;
    font-size:30px;
    /* border:1px solid red; */
    
}
.description{
    padding-top:20px;
    font-size:20px;
    font-style:italic;
    /* border:1px solid red; */
}

p span{
    color:#ff004f;
}

.list{
    display:flex;
    flex-wrap:wrap;
}

.li{
    padding:10px;
list-style:none;
text-decoration: none;
color:#ff004f;
}
nav{
    width:70vh;
    position:absolute;
    right:0;
    /* border:1px solid red; */

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin:10px 20px;
    /* border:1px solid red; */
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size:18px;
    position:relative;
}
nav ul li a::after{
    content:"";
    width:0;
    height:3px;
    background-color:coral;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.container{
    margin:auto;
    width:50%;
    border:2px solid red;  
    padding:3rem;
}
.container h1{
    text-align: center;
    font-size:60px;
    font-weight:600;
    color:beige;
}
.tab-title{
    display:flex;
    justify-content: space-around;
    margin:20px 0 40px; 
}
.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:#ff004f;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-content ul li{
    list-style:none;
    margin:10px 0;
}
.tab-content ul li span{
    color:#ff004f;
    font-size:14px;
}
.tab-content{
    display:none;
}
.tab-content.active-tab{
display:block;
}